* {
  box-sizing: border-box;
}

body {
  background-color: #8b32ff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #532a7c;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search:focus {
  outline: 0;
}

.search {
  background-color: transparent;
  border: 2px solid #8b32ff;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  color: rgb(233, 217, 217);
}

.movie {
  background-color: #532a7c;
  margin: 1rem;
  width: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  border-radius: 5px;
  box-shadow: 0px -5px 7px rgba(0, 0, 0, 0.6);
  position: absolute;
  background-color: rgb(138, 9, 89);
  color: rgb(243, 234, 234);
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(103%);
  transition: transform 0.4s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: #2d2b2e;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.tag.green {
  color: #3fce07;
}

.tag.orange {
  color: #f8a203;
}

.tag.red {
  color: #bb0808;
}
